:root {
    --body-bg-color: rgb(255, 248, 240);

    --h1-color: rgb(255, 128, 49);
    --table-border-color: rgb(255, 128, 49);
    --row-header-color: rgb(233, 255, 154);
    --highlight-color: rgb(255, 255, 209);
    --page-button-hover-color: rgb(248, 229, 86);

    --scrollbar-track-color: rgb(255, 128, 49);
    --scrollbar-thumb-color: rgb(255, 255, 58);

    --add-button-color: rgb(3, 151, 3);
    --remove-button-color: rgb(223, 78, 0);
    --merge-button-color: rgb(162, 3, 162);

    --copyright-color: rgb(255, 128, 49);
}


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--body-bg-color);
    font-family: sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

h1 {
    font-size: 2.1rem;
    margin-bottom: 25px;
    color: var(--h1-color);
}

.table-container {
    background-color: white;
    border: 2px solid var(--table-border-color);
    width: 650px;
    min-height: 200px;
    max-height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow: auto;
    margin-bottom: 40px;
}

.row-header {
    background-color: var(--row-header-color);
    font-size: 1.05rem;
    font-weight: bold;    
}

.row-container {
    border-top: 1px solid var(--table-border-color);
    border-bottom: 1px solid var(--table-border-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-item {
    cursor: move;
}

.row-container > *:not(.hidden) {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.row-container .serial-num {
    flex-basis: 10%;
}

.row-container .pdf-name {
    border-left: 1px solid var(--table-border-color);
    border-right: 1px solid var(--table-border-color);
    flex-basis: 54%;
}

.row-container .first-page-container {
    border-right: 1px solid var(--table-border-color);
    flex-basis: 18%;
}

.row-container .last-page-container {
    flex-basis: 18%;
}

.first-page-container, .last-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    cursor: default;
}

.first-page-container button, .last-page-container button {
    background: transparent;
    border: none;
    border-radius: 2px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    cursor: pointer;
}

.first-page-container button:hover, .last-page-container button:hover {
    background-color: var(--page-button-hover-color);
}

img {
    width: 12px;
}


.draggable.dragging {
    opacity: 0.3;
}

.highlight {
    background-color: var(--highlight-color);
}


::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 5px var(--scrollbar-thumb-color);
}


/**************** BUTTONS *****************/
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-remove-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 30px;
}

.button-container button {
    background-color: white;
    border-radius: 5px;
    width: 120px;
    padding: 10px 0;
    font-size: 1.02rem;
    cursor: pointer;
}

.button-container button:hover {
    color: white;
}

.add-button {
    border: 2px solid var(--add-button-color);
    color: var(--add-button-color);
}

.add-button:hover {
    background-color: var(--add-button-color);
}

.remove-button {
    border: 2px solid var(--remove-button-color);
    color: var(--remove-button-color);
}

.remove-button:hover {
    background-color: var(--remove-button-color);
}

.merge-button {
    border: 2px solid var(--merge-button-color);
    color: var(--merge-button-color);
}

.merge-button:hover {
    background-color: var(--merge-button-color);
}

/**************** FOOTER ****************/
.copyright {
    color: var(--copyright-color);
    font-size: 0.8rem;
    margin-bottom: 2px;
}

.hidden {
    display: none;
}